{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock title %}

{% block body %}
    <!--Section: Contact v.1-->
    <section class="section pb-5" style="padding-top: 48px">
        <div class="card mb-3" style="width: 80%; margin-left: 10%; margin-top: 16px; background-color: #f8f9fa">
            <div class="row">
                <div class="col-sm-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21006.993407488335!2d7.581802926432687!3d48.841538674278986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4796976c888ef021%3A0x6fd4b554a3668181!2sPfaffenhoffen%2C%2067350%20Val-de-Moder!5e0!3m2!1sfr!2sfr!4v1584710653890!5m2!1sfr!2sfr" width="100%" height="100%" frameborder="0" style="border-right-style: solid; border-right-width: thick;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="col-sm-6">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <i class="fas fa-envelope fa-3x align-middle" style="color: #2591e0 !important;"></i>
                            Contact Us
                        </h5>
                        <p class="card-text">
                            {{ form_start(form) }}
                            <i class="fas fa-user fa-lg"></i>
                            {{ form_widget(form.name, {'attr': { 'class': 'form-control', 'placeholder': 'John Smith'}}) }}
                            <i class="fas fa-at fa-lg" style="margin-top: 20px"></i>
                            {{ form_widget(form.email, {'attr': { 'class': 'form-control', 'placeholder': 'example@domain.com'}}) }}
                            <i class="fas fa-envelope-open-text fa-lg" style="margin-top: 20px"></i>
                            {{ form_widget(form.message, {'attr': { 'class': 'form-control', 'placeholder': 'Your message...'}}) }}
                            <button type="submit" class="btn btn-outline-primary" style="margin-top: 20px;padding-left: 30px;padding-bottom: 10px;padding-top: 10px;padding-right: 30px;">Send</button>
                            {{ form_end(form) }}
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Section: Contact v.1-->











{% endblock %}
